<h1 class="center-heading text-color-not-ok">Add a New Allergen</h1>

<%= render 'shared/errors', obj: @allergen %>
<!-- would provide the @allergen object to the partial, available under the local variable obj -->
<%= render 'form'%>

<script>
  formStyle()
</script>
