<div class="actions">
  <a class="edit-icon" href="/products/<%= id %>/edit">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="delete-icon" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/<%= id %>">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
  <a class="show-icon" href="/products/<%= id %>">
    <span class="glyphicon glyphicon-eye-open"></span>
  </a>
</div>