<h1 class="center-heading label-color">Check Product</h1>
<%= render 'shared/errors', obj: @product %>
<!-- would provide the @product object to the partial, available under the local variable obj -->
<%= render 'form' %>

<script>
  formStyle()
</script>
